# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# OS-specific files
desktop.ini

# Model files and large folders
models/
model/
*.pt
*.h5

# Image folders
images/
sampleimages/
uploaded_images/

# Dataset folders
input/
*.csv

# Submission files
submission.csv

# Others
*.log
*.tmp
*.bak
